@model List<BoardGame>

<h1>Our Games</h1>
<table class="table table-bordered table-striped">
    <thead>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Price
        </th>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>
                    @obj.Name
                </td>
                <td>
                    @obj.Description
                </td>
                <td>
                    @obj.Price $
                </td>
            </tr>
        }
    </tbody>
</table>